* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;

}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 3em;
}

p {
	font-family: "Open-Sans", sans-serif;
	font-size: 19px;
	text-align: center;
	line-height: 30px;
}

.header {
	background-color: #EEE8AA;	
	height: 100px;
	width: 100%;
}

.navbar {
	background-color: #EEE8AA;
	height: 100px;
	width: 100%;
	padding: 50px;
	transition: ease background-color 1s;
}

.navbar:hover {
	background-color: #92D050; 
}

.navbar .link {
	font-family: "Montserrat", sans-serif;
	transition: 
}

.navbar .logo {
	font-family: "Sarina", Fantasy;
}

.index-bkg {
	background-image: url("bkg.png");
	background-size: cover;
	display: absolute;
	justify-content: center;
}

.index-circle {
	background-color: rgba(0, 0, 0, 50%);
	width: 270px;
	height: 270px;
	border-radius: 100%;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-width: 10px;
	border-color: #EEE8AA;
}

.index-logo {
	font-family: "Sarina", fantasy;
	font-size: 30px;
	color: white;
	position: relative;
	top: 45%;
	margin: auto;
}

.container {
	margin-top: 500px;
	margin-left: auto;
	margin-right: auto;
}

.container .box {
	width: 200px;
	height: 240px;
	margin-right: 80px;
	margin-left: 80px;
	background: black;
	border-radius: 20px;
	transform-style: preserve-3d;
	font-family: "Montserrat", sans-serif;
	color: #92D050;
	font-size: 15px;
}

.container .box:hover::before, .container .box:hover::after {
	opacity: 0.04;
}

.container .box .name {
	position: absolute;
	top: 40px;
	left: 0;
	text-align: center;
	color: #92D050;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 75px);
	transition: 0.5s;
	opacity: 1;
	z-index: 10;
	font-size: 1.75em;
}

.container .box:hover .name {
	top: 40px;
	opacity: 1;
}

.container .box .product {
	position: relative;
	top: 60%;
	left: 50%;
	max-width: 70%;
	transition: 0.5s;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%, -50%, 50px);
}

.content {
	margin: 0 100px 1em;
}

.content td {
	padding-bottom: 100px;
}
.content .image-left {
	width: 500px;
	margin-right: 50px;
}

.content .image-right {
	width: 500px;
	margin-left: 50px;
	float: right;
}

#form {
	margin-right: auto;
	margin-left: auto;
}